# Database configuration (Neon / PostgreSQL)
DATABASE_URL=
DIRECT_URL=

# CORS Configuration
CORS_ORIGIN=

# Admin User Configuration (Generated on first start if database is empty)
ADMIN_USERNAME=admin
ADMIN_PASSWORD=

# JWT Cryptography Keys
ACCESS_PUBLIC_KEY_GLIB=
ACCESS_PRIVATE_KEY_GLIB=
REFRESH_PUBLIC_KEY_GLIB=
REFRESH_PRIVATE_KEY_GLIB=
